# 这是一个注释语句
# *  代表匹配任意个字符  eg： *.txt  *.ux*
# ？ 代表匹配1个字符    
# ** 代表匹配多级目录   eg: /exam/**/*.txt
# 在最前加 / 代表忽略根目录下的该类型文件或目录  eg ： /exam  
# 在最后加 / 代表忽略.gitignore目录中的该目录里的所有文件  eg ： exam/  
# 在最前加 ！ 代表对该文件或目录的忽略状态取反  eg ： ！exam  

/**/.vscode
/**/.idea

